
	body {
		font-family: 'Source Sans Pro', sans-serif;
		/*font-size: 15px;*/
	}
	
	.cursor-pointer {
		cursor: pointer;
	}

	A {
		color: #3298C7;
	}

	/* --- --- --- Tooltip  --- --- --- */

	span[data-toggle='tooltip'] {
		cursor:  help;
	}
	
	/* --- --- --- Pagination  --- --- --- */

	.page-item.active .page-link {
		background-color: #3298C7;
		border-color: #3298C7;
	}
	